<form action="/image_details" method="get">

	<fieldset>
		<legend>Find a image based on a keyword</legend>
		<input type="text" name="image_search" value="internet memes">
		<button>Search for Image</button>
	</fieldset>
</form>
