
     <div class="first" >
          <h1>Welcome to the Ruby Gems Playground</h1>

          <p>
          	You can try out three different gems: Get Stock Quotes, search for information on Movies or look up random images on Google Image. 

            Click on a link above and get started playing today!
          </p>

      </div>

  