<!doctype html>

<html>
   <head>
   	   <title>Playground</title>
   	   <link rel="stylesheet" href="styles.css">
   	   <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'> 
   </head>

  <body>
  	<div id="mainpage">
    
     <nav class="navigation">
       <a href="/">Home</a>
       <a href="/movies">Movies</a>
       <a href="/stock_quote">Stocks</a>
       <a href="/image_suckr">Images</a>
     </nav>

     <div >
          <%=yield%>
      </div>

    </div>
  </body>

</html>