<form action="/movie_details" method="get" >

	<fieldset>
		<legend>Find a movie!!!</legend>
		<input type="text" name="movie" placeholder="Movie Title" value="Big">
		<button>cool movie!</button>
	</fieldset>
</form>
